<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form name="input" action="/home/profile" method="get">
      <label>Profile</label>
      <p>Username: <input type="text" name="user"></p>
      <p>Job: <input type="text" name="job"></p>
      <p>Greetings word: <input type="text" name="greetings"></p>
      <p>Phone: <input type="text" name="phone"></p>
      <p>E-mail: <input type="text" name="email"></p>
      <p>Website: <input type="text" name="website"></p>
      <label>Social</label>
      <p>Facebook: <input type="text" name="facebook"></p>
      <p>Twitter: <input type="text" name="twitter"></p>
      <p>Blog: <input type="text" name="blog"></p>
      <p>Flickr: <input type="text" name="flickr"></p>
      <label>Employment</label>
      <!-- Employment1 -->
      <p>Work period: <input type="text" name="work1start"> ~ <input type="text" name="work1finish"></p>
      <p>Company: <input type="text" name="company1"></p>
      <p>Job Title:<input type="text" name="jobtitle1"></p>
      <p>Job Description<textarea type="text" name="jobdes1"></textarea></p>
      <!-- Employment2 -->
      <p>Work period: <input type="text" name="work2start"> ~ <input type="text" name="work1finish"></p>
      <p>Company: <input type="text" name="company2"></p>
      <p>Job Title:<input type="text" name="jobtitle2"></p>
      <p>Job Description<textarea type="text" name="jobdes2"></textarea></p>
      <!-- Employment3 -->
      <p>Work period: <input type="text" name="work3start"> ~ <input type="text" name="work1finish"></p>
      <p>Company: <input type="text" name="company3"></p>
      <p>Job Title:<input type="text" name="jobtitle3"></p>
      <p>Job Description<textarea type="text" name="jobdes3"></textarea></p>
      <h3>Education</h3>
      <!-- Education1 -->
      <label>Education period</label>
      <input type="text" name="edu1start"> ~ <input type="text" name="edu1finish">
      <label>Organization</label>

      <!-- Education2 -->
      <label>Skills</label>
      <label>Portfolio</label>
      <label>Contact</label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
